<div class="background" [style.background-image]="'url(' + SelectedChampionSplash + ')'"></div>
<div style="text-align:center;">
  <h1>
    Welcome!
  </h1>
</div>
<mat-drawer-container autosize>
  <mat-drawer style="background-color:black;" [(opened)]="isInfoShown" mode="side" position="end">
    <div class="infobackground" [style.background-image]="'url(' + SelectedChampionLoading + ')'" *ngIf="SelectedChampionInfo">
    </div>
    <div class="infocontent" *ngIf="SelectedChampionInfo">
      <p style="text-align:center">{{SelectedChampionInfo.name}}<br>{{SelectedChampionInfo.title}}</p>
      <p [innerHTML]="SelectedChampionInfo.blurb"></p>
      <div class="spells">
        <mat-expansion-panel >
          <mat-expansion-panel-header [collapsedHeight]="'64px'">
            <mat-panel-title>
              <img src="{{getPassiveImage()}}">
            </mat-panel-title>
            <mat-panel-description>
              <p>{{SelectedChampionInfo.passive.name}}</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p [innerHTML]="SelectedChampionInfo.passive.description"></p>
        </mat-expansion-panel>
      </div>
      <div class="spells" *ngFor="let number of [0,1,2,3]">
        <mat-expansion-panel>
          <mat-expansion-panel-header [collapsedHeight]="'64px'">
            <mat-panel-title>
              <img src="{{getSpellImage(SelectedChampionInfo.spells[number].image.full)}}">
            </mat-panel-title>
            <mat-panel-description>
              <p [innerHTML]="SelectedChampionInfo.spells[number].name"></p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p [innerHTML]="SelectedChampionInfo.spells[number].description"></p>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-drawer>
  <div class="card-holder" *ngIf="ready">
    <mat-card class="card" *ngFor="let champion of champions" (click)="ChampionSelected($event)"
      title="{{champion.id}}">
      <img title="{{champion.id}}" src="{{getPortraitImage(champion.image.full)}}" alt="{{champion.id}}">
      <mat-card-content>
        <p title="{{champion.id}}">{{champion.name}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-drawer-container>